html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(25, 25, 25);
    user-select: none;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    font-family: Lato;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}