body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: Lato;
    font-size: 20px;

    text-align: center;

    scroll-behavior: smooth;
}

iframe {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 64px;
    border: none;
    box-shadow: 0px 0px 8px 0px black;
}

h1 {
    font-size: 72px;
    text-shadow: 2px 2px 3px black;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    margin: 32px;
}

p {
    margin: 0% 5%;
    text-align: left;
    line-height: 1.5;
}

img {
    image-rendering: optimizeQuality;

    --shadow-color: rgba(0, 0, 0, 0.33);
    --shadow-size: 8px;

    filter:
        drop-shadow(0px 0px calc(var(--shadow-size)) var(--shadow-color)) drop-shadow(0px 0px calc(var(--shadow-size) * 2) var(--shadow-color)) drop-shadow(0px 0px calc(var(--shadow-size) * 3) var(--shadow-color));

    transition-duration: 0.4s;

    max-width: 90%;
    max-height: 90%;

    width: auto;
    height: auto;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

.link:link {
    color: inherit;

    border-style: solid;
    border-radius: 0px;
    border-width: 0px 0px 5px 0px;

    transition-duration: 0.4s;
}

.link:hover {
    padding: 2px 7.5px;

    border-color: #5FD849;
    color: #5FD849;

    filter: drop-shadow(0px 0px 2px black);

    border-radius: 15px;
}

.expandable:hover {
    --shadow-color: rgba(0, 0, 0, 0.5);
    --shadow-size: 8px;

    max-width: 91%;
    max-height: 91%;

    cursor: pointer;
}

.expandable:active {
    --shadow-color: rgba(0, 0, 0, 1);
    --shadow-size: 64px;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0% auto;

    margin-top: auto;
    margin-bottom: auto;

    max-height: 95%;
    width: 90%;

    animation-duration: 0.4s;
    animation-name: expand;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    height: auto;
    object-fit: contain;
    overflow: hidden;

    justify-self: center;
    z-index: 100000;
}

@keyframes expand {
    from {
        width: 50%;
    }

    to {
        width: 90%;
    }
}

.centered {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.top-anchored {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.horizontal {
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.horizontal-spaced {
    position: relative;
    flex-direction: row;
    justify-content: space-around;
}

.row {
    position: relative;
    height: 50%;
}

.full {
    height: 100%;
}

.light {
    background-color: rgb(200, 200, 200);
    color: rgb(64, 64, 64);
}

.dark {
    background-color: rgb(64, 64, 64);
    color: rgb(200, 200, 200);
}

.accent {
    color: #5FD849;
    -webkit-text-stroke: 1px black;
}

.half {
    width: 50%;
}

.big-side {
    justify-items: center;
    height: 100%;
    width: 66.67%;
}

.small-side {
    justify-items: center;
    height: 100%;
    width: 33.33%;
}

.top-bar {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 64px;

    background-color: rgb(200, 200, 200);
    color: rgb(64, 64, 64);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-bar h3 {
    padding: 0px 15px;
    margin-top: auto;
    margin-bottom: auto;
}

#header {
    z-index: 1000;
}

#consolas {
    font-family: Consolas;
}

#icon {
    padding-right: 10px;
    font-size: 24px;
}

#large-link {
    width: max-content;
    height: fit-content;

    padding: 0px 0px;
    margin: 0px 32px;

    font-size: 32px;
    text-align: center;
}

.button {
    color: white;
    font-size: 24px;
    letter-spacing: 1.5px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(75, 75, 75);
    border-radius: 10px;
    border: none;
    padding: 15px 32px;
    margin: 30px 20px 20px 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    border-radius: 0px;
    color: white;
    text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
}

.button:active {
    background-image: radial-gradient(circle, lime, rgb(75, 75, 75));
    background-color: lime;
    color: black;
    text-shadow: none;
}

.skip-nav {
    position: absolute;
    transform: translateY(-120%);
    left: 0;
    right: 0;
    z-index: 2000;

    border-style: solid;
    border-radius: 0px;
    border-width: 0px 0px 5px 0px;

    background-color: #3C3C3C;

    transition-duration: 0.4s;
}

.skip-nav:focus {
    transform: translateY(0%);

    border-color: #5FD849;
    color: #5FD849;

    filter: drop-shadow(0px 0px 2px black);
}

@media (max-aspect-ratio: 1/1),
(pointer:none),
(pointer:coarse) {

    iframe {
        display: none;
    }

    .horizontal {
        flex-direction: column;
        justify-content: space-between;
    }

    .row {
        min-height: 100%;
        height: auto;
        padding: 5%;
    }

    .full {
        min-height: 200%;
        height: auto;
        padding: 5%;
    }

    .big-side {
        width: 100%;
        height: 66.67%;
        margin-bottom: 5%;
    }

    .small-side {
        height: 33.33%;
        width: 100%;
        margin-top: 5%;
    }

    #large-link {
        margin: 2% 0%;
    }
}

/* Responsiveness */
/* Only take up the height that's needed */
.height-cancel {
    min-height: auto;
}

.skills li {
    margin: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: start;
}

.grid-item {
    /* You can add any other styling to the grid items here */
    position: relative;
}

.grid-item::before {
    content: "•";
    position: absolute;
    top: -10px;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
}

/* Skills grid switches to 2 items per row */
@media (max-width: 425px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsiveness */