body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: Lato;
    font-size: 20px;

    text-align: center;
}

h1 {
    font-size: 72px;
    text-shadow: 2px 2px 3px black;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    margin: 5% 5%;
}

p {
    margin: 0% 5%;
    text-align: left;
    line-height: 1.5;
}

table {
    margin: 0px 0px 0px 25%;
    border-collapse: collapse;
}

td {
    width: 64px;
}

a:link {  text-decoration: none; color: inherit; }

a:visited { text-decoration: none; color: inherit; }

a:hover { text-decoration: none; color: inherit; }

a:active { text-decoration: none; color: inherit; }

.link:link {
    color:inherit;

    border-style: solid;
    border-radius: 0px;
    border-width: 0px 0px 5px 0px;

    transition-duration: 0.4s;
}

.link:hover {    
    padding: 2px 7.5px;

    border-color: #5FD849;
    color: #5FD849;

    filter:drop-shadow(0px 0px 2px black);

    border-radius: 15px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-anchored {
    display: flex;
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
    justify-content: center;
}

.row {
    height: 50%;
}

.full {
    height: 100%;
}

.light {
    background-color: rgb(200, 200, 200);
    color: rgb(64, 64, 64);
}

.dark {
    background-color: rgb(64, 64, 64);
    color: rgb(200, 200, 200);
}

.accent {
    color: #5FD849;
    -webkit-text-stroke: 1px black;
}

.half {
    width: 50%;
}

.big-side {
    width: 66.67%;
}

.small-side {
    width: 33.33%;
}

#consolas {
    font-family: Consolas;
}

#icon {
    padding-right: 10px;
    font-size: 24px;
}

#large-link {
    width: max-content;
    height: fit-content;

    padding: 0px 0px;
    margin: 0px 32px;

    font-size: 32px;
    text-align: center;
}

.button {
    color: white;
    font-size: 24px;
    letter-spacing: 1.5px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(75, 75, 75);
    border-radius: 10px;
    border: none;
    padding: 15px 32px;
    margin: 30px 20px 20px 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    border-radius: 0px;
    color: white;
    text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
}

.button:active {
    background-image: radial-gradient(circle, lime, rgb(75, 75, 75));
    background-color: lime;
    color: black;
    text-shadow: none;
}