:root {
    --content-light: #101010;
    --primary-light: #C8C8C8;
    --secondary-light: #F3F3F3;
    --border-light: gray;
    --highlight-light: #AEAEAE;
    --active-light: #C0C0C0;
    --icon-light: #4D4D4D;

    --content-dark: #E0E0E0;
    --primary-dark: #2E2E2E;
    --secondary-dark: #0F0F0F;
    --border-dark: #696969;
    --highlight-dark: #454545;
    --active-dark: #696969;
    --icon-dark: #AEAEAE;
}