@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --content-light: #101010;
  --primary-light: #C8C8C8;
  --secondary-light: #F3F3F3;
  --border-light: gray;
  --highlight-light: #AEAEAE;
  --active-light: #C0C0C0;
  --icon-light: #4D4D4D;

  --content-dark: #E0E0E0;
  --primary-dark: #2E2E2E;
  --secondary-dark: #0F0F0F;
  --border-dark: #696969;
  --highlight-dark: #454545;
  --active-dark: #696969;
  --icon-dark: #AEAEAE;
  
  --harpy-color: #41a6ff;
}

@theme {
  --text-shadow-harpy: 0 2px 4px var(--harpy-color); 
}

@property --contact-card-blur {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

@property --contact-card-opacity {
    syntax: "<number>";
    inherits: true;
    initial-value: 1;
}

@property --contact-card-transform-y {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

@property --contact-card-pointer-events {
    syntax: "none | auto";
    inherits: true;
    initial-value: "auto";
}


@property --nav-bar-blur {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

@property --nav-bar-opacity {
    syntax: "<number>";
    inherits: true;
    initial-value: 1;
}

@property --nav-bar-transform-y {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

@property --nav-bar-pointer-events {
    syntax: "none | auto";
    inherits: true;
    initial-value: "auto";
}

@keyframes scrollAnimation {
  50% {
    --contact-card-blur: 0px;
    --contact-card-opacity: 1;
    --contact-card-transform-y: 0%;
    --contact-card-pointer-events: auto;

    --nav-bar-blur: 24px;
    --nav-bar-opacity: 0;
    --nav-bar-transform-y: 25%;
    --nav-bar-pointer-events: none;
  }
  75% {
    --contact-card-blur: 24px;
    --contact-card-opacity: 0;
    --contact-card-transform-y: -25%;
    --contact-card-pointer-events: none;

    --nav-bar-blur: 0px;
    --nav-bar-opacity: 1;
    --nav-bar-transform-y: 0%;
    --nav-bar-pointer-events: auto;

  }
  100% {
    --contact-card-blur: 24px;
    --contact-card-opacity: 0;
    --contact-card-transform-y: -25%;
    --contact-card-pointer-events: none;

    --nav-bar-blur: 0px;
    --nav-bar-opacity: 1;
    --nav-bar-transform-y: 0%;
    --nav-bar-pointer-events: auto;
  }
}

@keyframes downArrowAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-with-scroll {
    animation: scrollAnimation linear;
    animation-fill-mode: forwards;
    animation-timeline: view();
}

.down-arrow {
    animation: downArrowAnimation 2s infinite;
}

.contact-card {
    filter: blur(var(--contact-card-blur));
    opacity: var(--contact-card-opacity);
    transform: translateY(var(--contact-card-transform-y));
    pointer-events: var(--contact-card-pointer-events);
}

.contact-card-compatibility {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-bar {
    filter: blur(var(--nav-bar-blur));
    opacity: var(--nav-bar-opacity);
    transform: translateY(var(--nav-bar-transform-y));
    pointer-events: var(--nav-bar-pointer-events);
}