---
import CommonHead from '@/components/CommonHead.astro';
import DrawnImage from '@components/DrawnImage.astro';
import LinksArea from '@components/LinksArea.astro';

import { Image } from 'astro:assets';
import avatar from '@/images/icon.png';
---

<html lang="en">
	<head>
		<CommonHead title="Caeden Statia" description="Aspiring Software Developer"/>
	</head>
	<body class="bg-(--primary-light) dark:bg-(--primary-dark) text-(--content-light) dark:text-(--content-dark)">
		<div class="h-screen w-0 fade-with-scroll">
			<div class="contact-card fixed top-1/2 left-1/2 -translate-1/2 rounded-xl flex flex-row items-center justify-center">
				<div class="flex items-center gap-6 pt-8 pb-8">
					<Image class="size-64 rounded-full width-600px height-600px" alt="Harpy avatar :>" src={avatar} />
				</div>
				<div class="flex flex-col items-start gap-4">
					<h1 class="text-4xl font-bold">Caeden Statia</h1>
					<LinksArea
						twitter="https://twitter.com/The_Caeden117"
						bluesky="https://bsky.app/profile/caeden.dev"
						github="https://github.com/Caeden117"
					/>
				</div>
			</div>
		</div>

		<div class="h-screen flex flex-col gap-6 items-center justify-center text-center">
			<h1 class="text-4xl font-bold">Under Construction.</h1>
			<p>Hi! Welcome to my new website.</p>
			<p>My previous website has been in use since 2020, and while it served me well, I needed a fresh start.<br>It was built using raw HTML and CSS, which made adding new portfolio projects (and potential future ideas) a massive pain.</p>
			<p>This new website will allow me to better add my projects and showcase my work, built using modern web technologies.</p>
			<p>Pardon the dust. Soon, you'll see this website populated with projects old and new.</p>
		</div>
	</body>
</html>
