---
import DrawnImage from '@components/DrawnImage.astro';
import "@styles/global.css";

import name0 from '@/images/name0.png';
import name1 from '@/images/name1.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="w-screen h-screen flex place-content-center">
			<DrawnImage 
				image1={name0}
				image2={name1} 
				alt="Caeden Statia"
			/>
		</div>
	</body>
</html>
