---
import CommonHead from '@/components/CommonHead.astro';
import "@styles/global.css";
---

<script>
import useScrollObserver from '@/scripts/ScrollObserver.client.ts';
useScrollObserver(null, "/");
</script>

<html lang="en">
	<head>
		<CommonHead title="Caeden Statia" description="Aspiring Software Developer"/>
	</head>
	<body>
		<div class="mx-auto flex h-screen w-full max-w-128 flex-row items-center justify-center">
			<h1 class="text-4xl font-bold">Under Construction.</h1>
		</div>
	</body>
</html>
