---
const { title, color, ring } = Astro.props;
---
<div class={`backdrop-blur-md backdrop-saturate-25 ${ring ? 'inset-ring-4' : ''} p-8 rounded-4xl flex flex-col gap-6 items-center justify-center text-center`}>
    {title && 
    <h1 class={`text-4xl font-bold`}>{title}</h1>
    }
    <slot name="title" />
    <slot/>
</div>

<style define:vars={{ color }}>
    div {
        background-color: RGBA(var(--color), 0.15);
        --tw-inset-ring-color: RGB(var(--color));
    }

    h1 {
        color: RGB(var(--color));
    }
</style>